---
title: Functional Verification
subtitle: Functional verification
description: UNIC-CASS Training materials
---

# 5 Functional verification (In depth)

## 5.1 Introduction to functional verification
<iframe src="https://drive.google.com/file/d/17VBSJmN6QeLDlNQ50oZwlin_vaMkoRr9/preview" width="854" height="480" allow="autoplay"></iframe>

### Lecture notes
<iframe src="https://drive.google.com/file/d/17U9-aqgce0dSlh4XjlOYLuuzxh9WKZSz/preview" width="854" height="480" allow="autoplay"></iframe>

## 5.2 RTL Verification & testing

<iframe src="https://drive.google.com/file/d/17VShx3ZmhJUG5hKIM0JVQBQ6hZ3SAbns/preview" width="854" height="480" allow="autoplay"></iframe>

### Lecture notes
<iframe src="https://drive.google.com/file/d/17U7lxBI8Mp_8vAeGuAdKOV3Jd1XgRHRg/preview" width="854" height="480" allow="autoplay"></iframe>

## 5.3 Gate-level verification
<iframe src="https://drive.google.com/file/d/17Z6AwXtknR_LDlxS1Jpm50AMblKPk-4W/preview" width="854" height="480" allow="autoplay"></iframe>

### Lecture notes
<iframe src="https://drive.google.com/file/d/17TlRT41HXZ8g8IsAbTLLb8tB_iICU0vd/preview" width="854" height="480" allow="autoplay"></iframe>

## 5.4 Timing violations (setup, hold, recovery, removal)
<iframe src="https://drive.google.com/file/d/17Z8t5SHSBvoQjtRylSPtjcNICWEh0ED6/preview" width="854" height="480" allow="autoplay"></iframe>

## Lecture notes
<iframe src="https://drive.google.com/file/d/17ThJLgoFzjVPgkJ6sAGYekqIHm-dpFJO/preview" width="854" height="480" allow="autoplay"></iframe>

## 5.5 Static timing analysis

<iframe src="https://drive.google.com/file/d/17_Pp0Gxz1ED9MqarP79UkWoejqo3_n22/preview" width="854" height="480" allow="autoplay"></iframe>

### Lecture notes
<iframe src="https://drive.google.com/file/d/17S8F-TNiAzbf1eEcCC4eM94abwIOt2aw/preview" width="854" height="480" allow="autoplay"></iframe>

## 5.6 Functional verification & STA in Cravel User Project wrapper
<iframe src="https://drive.google.com/file/d/17UieC9IVrUb5NF3ph9HIV5VYvE7GTpgJ/preview" width="854" height="480" allow="autoplay"></iframe>

### Lecture notes
<iframe src="https://drive.google.com/file/d/17RcuZ6QvBgjSqyXRt7tK9CzKsjotJ1NK/preview" width="854" height="480" allow="autoplay"></iframe>