---
title: 5 Timing and verification
parent: "Digital Design Flow"
layout: default
has_toc: true
has_children: true
nav_order: 5
---

# 5 Timing and Verification
{: .no_toc }
